src/main/mule/implementation/create-customer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="post:\customer:application\json:flight-management-sys-api-navneet-config" doc:id="ebdb1736-63f5-4f1f-b93c-9c3febe7ebae" >
		<db:insert doc:name="Insert" doc:id="946074f2-5af1-4ec1-a98d-cf28275e89f6" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into `navneet`.`customer` (`cust_number`, `first_name`, `last_name`, `city`, `state`) 
values (:cust_number, :first_name, :last_name, :city, :state)

]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	cust_number : payload.custNumber[0],
	first_name : payload.firstName[0],
	last_name : payload.lastName[0],
	city : payload.city[0],
	state : payload.state[0]
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="53b272c8-7763-4a76-92fe-2228d65c93b2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "success",
  description: "Customer account is created successfully in system"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
