src/main/mule/implementation/create-booking.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="07ad6bbc-7bc4-403e-88c4-d450d3b1d5a9" >
		<db:my-sql-connection host="ec2-18-237-169-229.us-west-2.compute.amazonaws.com" port="3306" user="muler" password="Bootcamp@SF#1" database="navneet" />
	</db:config>
	<flow name="post:\flights:application\json:flight-management-sys-api-navneet-config" doc:id="bc15c458-5302-43dd-901b-9af2d3dd2bc4" >
		<db:insert doc:name="Insert" doc:id="725429f9-b0ab-47ed-86a8-013c963f8628" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into `navneet`.`booking` (`booking_ref_number`, `cust_number`, `flight_id`, `seat_num`, `status`, `booking_date`) 
values (:bookingRefNumber , :custNumber, :flightId, :seatNumber, :status, :bookingDate)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	bookingRefNumber : payload.bookingRefNumber[0],
	custNumber : payload.custNumber[0],
	flightId : payload.flightId[0],
	seatNumber : payload.seatNumber[0],
	status : payload.status[0],
	bookingDate : payload.bookingDate[0]
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="cae98b8d-790d-406a-a7d8-2ec4a66a4f1d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "success",
  description: "Booking details uploaded into system successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
